<footer>
  &copy; <%= date(new Date(), 'YYYY') %>
  <span class="author" style="float: left;">

    <%= config.author || '' %>
  </span>
  <span style="float: right;">
    <a href="/">Back to home</a>
  </span>
</footer>